In [25]:
from IPython import display
import pandas as pd
df = pd.read_csv("C:/Users/Rajesh/Edureka/05_numpy_pandas/SalaryGender.csv")

print(df)

    Salary  Gender  Age  PhD
0   140.00       1   47    1
1    30.00       0   65    1
2    35.10       0   56    0
3    30.00       1   23    0
4    80.00       0   53    1
5    30.00       0   27    0
6    60.00       1   53    0
7    31.10       0   30    0
8   125.00       1   44    1
9    51.00       1   63    1
10    3.00       1   22    0
11   46.00       1   59    0
12  150.00       1   60    1
13    3.00       1   28    0
14  130.00       1   65    0
15   15.00       0   25    0
16  130.00       1   65    0
17   84.00       0   47    1
18  190.00       1   66    1
19   74.00       1   45    1
20   73.00       0   46    0
21   10.00       0   24    0
22   50.00       0   60    0
23    7.00       0   63    0
24    9.50       0   27    0
25   15.20       1   66    1
26   28.60       1   36    1
27   20.00       0   30    0
28   72.00       0   51    1
29   81.00       1   65    1
..     ...     ...  ...  ...
70   40.70       0   57    0
71   15.00       1   23    0
72    0.25       0   53    0
73  152.00       1   71    1
74   39.80       0   20    0
75   12.00       0   27    0
76   30.00       1   69    1
77  120.00       1   58    1
78    1.70       1   37    0
79   36.00       1   32    1
80   96.00       1   33    1
81   38.00       0   32    1
82   90.00       1   60    0
83    9.00       1   71    0
84   25.80       0   30    0
85   22.00       0   62    0
86   38.80       0   54    0
87   72.00       1   42    1
88   89.00       1   62    0
89   41.00       0   51    1
90   89.00       1   71    1
91   25.00       0   29    0
92   52.00       1   55    1
93  115.00       0   54    0
94   66.00       0   55    1
95   18.60       1   26    0
96  152.00       1   56    1
97    1.80       1   28    0
98   35.00       0   44    0
99    4.00       0   24    0

[100 rows x 4 columns]

In [44]:
df[(df["Gender"]==1) & (df["PhD"]==1)]

    Salary  Gender  Age  PhD
0    140.0       1   47    1
8    125.0       1   44    1
9     51.0       1   63    1
12   150.0       1   60    1
18   190.0       1   66    1
19    74.0       1   45    1
25    15.2       1   66    1
26    28.6       1   36    1
29    81.0       1   65    1
38    63.0       1   34    1
42   106.0       1   77    1
47    55.0       1   49    1
56   160.0       1   61    1
60   102.0       1   66    1
63    55.0       1   56    1
73   152.0       1   71    1
76    30.0       1   69    1
77   120.0       1   58    1
79    36.0       1   32    1
80    96.0       1   33    1
87    72.0       1   42    1
90    89.0       1   71    1
92    52.0       1   55    1
96   152.0       1   56    1

In [50]:
newdf = df[['Age', 'PhD']].copy()
print(newdf[newdf]

    Age  PhD
0    47    1
1    65    1
2    56    0
3    23    0
4    53    1
5    27    0
6    53    0
7    30    0
8    44    1
9    63    1
10   22    0
11   59    0
12   60    1
13   28    0
14   65    0
15   25    0
16   65    0
17   47    1
18   66    1
19   45    1
20   46    0
21   24    0
22   60    0
23   63    0
24   27    0
25   66    1
26   36    1
27   30    0
28   51    1
29   65    1
..  ...  ...
70   57    0
71   23    0
72   53    0
73   71    1
74   20    0
75   27    0
76   69    1
77   58    1
78   37    0
79   32    1
80   33    1
81   32    1
82   60    0
83   71    0
84   30    0
85   62    0
86   54    0
87   42    1
88   62    0
89   51    1
90   71    1
91   29    0
92   55    1
93   54    0
94   55    1
95   26    0
96   56    1
97   28    0
98   44    0
99   24    0

[100 rows x 2 columns]

In [52]:
df[df["PhD"]==1]["PhD"].count()

39

In [55]:
import numpy as np
a = np.array([0,5,4,0,4,4,3,0,0,5,2,1,1,9])
unique, counts = np.unique(a, return_counts = True)
dict(zip(unique, counts))

{0: 4, 1: 2, 2: 1, 3: 1, 4: 3, 5: 2, 9: 1}