In [3]:
import pandas as pd
from IPython.display import display

In [5]:
df_ds = pd.read_csv("C:/Users/Rajesh/Edureka/05_numpy_pandas/DSScoreTerm1.csv")
df_math = pd.read_csv("C:/Users/Rajesh/Edureka/05_numpy_pandas/MathScoreTerm1.csv")
df_phys = pd.read_csv("C:/Users/Rajesh/Edureka/05_numpy_pandas/PhysicsScoreTerm1.csv")
display(df_ds)
display(df_math)
display(df_phys)

,Name,Score,Age,Ethinicity,Subject,Sex,ID
0,AI-KYUNG CHUNG,82.0,18,White American,Data Structue,M,1
1,ALAN HARVEY,79.0,19,European American,Data Structue,M,2
2,ALAN REYNAUD,39.0,19,European American,Data Structue,M,3
3,ALBERT CENDANA,76.0,18,White American,Data Structue,M,4
4,ALBERT HOLT JR,76.0,18,White American,Data Structue,F,5
5,ALBERT PARDINI,89.0,20,White American,Data Structue,M,6
6,ALBERT YU,89.0,18,White American,Data Structue,M,7
7,ALBERTO PEDRUCO,59.0,19,White American,Data Structue,M,8
8,ALEC BALMY,82.0,18,Hispanic,Data Structue,M,9
9,ALEETA VAN RUNKLE,82.0,19,Hispanic,Data Structue,F,10
10,ALEX TSE,47.0,20,White American,Data Structue,M,11
11,ALEXANDER CHEN,47.0,20,White American,Data Structue,M,12
12,ALEXANDER KWAN,60.0,19,White American,Data Structue,M,13
13,ALEXIS GOLDNER,82.0,18,White American,Data Structue,M,14
14,ALLEN TURPIN,82.0,21,White American,Data Structue,F,15
15,ALSON LEE,76.0,20,White American,Data Structue,M,16
16,ALVIN LAU,25.0,18,White American,Data Structue,M,17
17,AMEN CHOW,89.0,18,European American,Data Structue,M,18
18,AMPARO RODRIGUEZ,85.0,18,Hispanic,Data Structue,M,19
19,AMY BROWN,60.0,18,White American,Data Structue,F,20
20,AMY HART,76.0,18,Hispanic,Data Structue,M,21
21,ANA SAMPERA,60.0,18,European American,Data Structue,M,22
22,ANDRE ANDREWS SR,69.0,18,White American,Data Structue,M,23
23,ANDRE WILLIAMS,59.0,19,Hispanic,Data Structue,M,24
24,ANDREW LOGAN,85.0,20,European American,Data Structue,F,25
25,ANDREW SAITZ,85.0,18,White American,Data Structue,M,26
26,ANDY ZANOFF,47.0,20,Hispanic,Data Structue,M,27
27,ANGELA PLATZER,85.0,20,European American,Data Structue,M,28
28,ANN MANNIX,82.0,21,Hispanic,Data Structue,M,29
29,ANNA BROWN,79.0,19,White American,Data Structue,F,30
...,...,...,...,...,...,...,...
569,TRYG MCCOY,59.0,19,Hispanic,Data Structue,F,570
570,TUAMELIE MOALA,39.0,19,European American,Data Structue,M,571
571,TYRONE PRUITT,76.0,20,Hispanic,Data Structue,M,572
572,TYRONNE JULIAN,47.0,18,European American,Data Structue,M,573
573,VALERIE AGARD,79.0,18,European American,Data Structue,M,574
574,VALERIE INOUYE,69.0,20,European American,Data Structue,F,575
575,VAN LY,79.0,21,White American,Data Structue,M,576
576,VENUS AZAR,69.0,18,White American,Data Structue,M,577
577,VERNONICA JONES,79.0,19,White American,Data Structue,M,578
578,VICKI CLAYTON,76.0,18,White American,Data Structue,M,579
579,VICTOR WYRSCH,59.0,21,White American,Data Structue,F,580
580,VINCENT DAVIS,89.0,18,African American,Data Structue,M,581
581,VINCENT PAMPANIN,85.0,20,White American,Data Structue,M,582
582,VIVIAN DAY,39.0,21,Hispanic,Data Structue,M,583
583,WAYNE SNODGRASS,89.0,18,Hispanic,Data Structue,M,584
584,WENDY STILL,85.0,18,European American,Data Structue,F,585
585,WHITNEY YEE,47.0,20,White American,Data Structue,M,586
586,WILLIAM MCFARLAND,79.0,19,White American,Data Structue,M,587
587,WILLIAM MCFARLAND,39.0,18,Hispanic,Data Structue,M,588
588,WILLIAM MULKEEN,82.0,19,European American,Data Structue,M,589
589,WILLIAM RADER,76.0,20,Hispanic,Data Structue,F,590
590,WILLIAM ROUALDES,59.0,19,White American,Data Structue,M,591
591,WILLIAM SCOTT,82.0,19,Hispanic,Data Structue,M,592
592,WILLIAM SIFFERMANN,85.0,20,Hispanic,Data Structue,M,593
593,WING CHAN,82.0,19,European American,Data Structue,M,594
594,WING NG,39.0,19,White American,Data Structue,F,595
595,YIFANG QIAN,69.0,18,White American,Data Structue,M,596
596,ZACHARY PUMPHREY,47.0,20,White American,Data Structue,M,597
597,ZEBA IMAN NAZEERI-SIMMONS,69.0,20,Hispanic,Data Structue,M,598
598,ZHI JIAR ZHUANG,NaN,19,Hispanic,Data Structue,M,599

                          Name  Score  Age         Ethinicity Subject Sex   ID
0               AI-KYUNG CHUNG   88.0   18     White American   Maths   M    1
1                  ALAN HARVEY   85.0   19  European American   Maths   M    2
2                 ALAN REYNAUD   45.0   19  European American   Maths   M    3
3               ALBERT CENDANA   82.0   18     White American   Maths   M    4
4               ALBERT HOLT JR   82.0   18     White American   Maths   F    5
5               ALBERT PARDINI   95.0   20     White American   Maths   M    6
6                    ALBERT YU   95.0   18     White American   Maths   M    7
7              ALBERTO PEDRUCO   65.0   19     White American   Maths   M    8
8                   ALEC BALMY   88.0   18           Hispanic   Maths   M    9
9            ALEETA VAN RUNKLE   88.0   19           Hispanic   Maths   F   10
10                    ALEX TSE   53.0   20     White American   Maths   M   11
11              ALEXANDER CHEN   53.0   20     White American   Maths   M   12
12              ALEXANDER KWAN   66.0   19     White American   Maths   M   13
13              ALEXIS GOLDNER   88.0   18     White American   Maths   M   14
14                ALLEN TURPIN   88.0   21     White American   Maths   F   15
15                   ALSON LEE   82.0   20     White American   Maths   M   16
16                   ALVIN LAU   31.0   18     White American   Maths   M   17
17                   AMEN CHOW   95.0   18  European American   Maths   M   18
18            AMPARO RODRIGUEZ   91.0   18           Hispanic   Maths   M   19
19                   AMY BROWN   66.0   18     White American   Maths   F   20
20                    AMY HART   82.0   18           Hispanic   Maths   M   21
21                 ANA SAMPERA   66.0   18  European American   Maths   M   22
22            ANDRE ANDREWS SR   75.0   18     White American   Maths   M   23
23              ANDRE WILLIAMS   65.0   19           Hispanic   Maths   M   24
24                ANDREW LOGAN   91.0   20  European American   Maths   F   25
25                ANDREW SAITZ   91.0   18     White American   Maths   M   26
26                 ANDY ZANOFF   53.0   20           Hispanic   Maths   M   27
27              ANGELA PLATZER   91.0   20  European American   Maths   M   28
28                  ANN MANNIX   88.0   21           Hispanic   Maths   M   29
29                  ANNA BROWN   85.0   19     White American   Maths   F   30
..                         ...    ...  ...                ...     ...  ..  ...
569                 TRYG MCCOY   65.0   19           Hispanic   Maths   F  570
570             TUAMELIE MOALA   45.0   19  European American   Maths   M  571
571              TYRONE PRUITT   82.0   20           Hispanic   Maths   M  572
572             TYRONNE JULIAN   53.0   18  European American   Maths   M  573
573              VALERIE AGARD   85.0   18  European American   Maths   M  574
574             VALERIE INOUYE   75.0   20  European American   Maths   F  575
575                     VAN LY   85.0   21     White American   Maths   M  576
576                 VENUS AZAR   75.0   18     White American   Maths   M  577
577            VERNONICA JONES   85.0   19     White American   Maths   M  578
578              VICKI CLAYTON   82.0   18     White American   Maths   M  579
579              VICTOR WYRSCH   65.0   21     White American   Maths   F  580
580              VINCENT DAVIS   95.0   18   African American   Maths   M  581
581           VINCENT PAMPANIN   91.0   20     White American   Maths   M  582
582                 VIVIAN DAY   45.0   21           Hispanic   Maths   M  583
583            WAYNE SNODGRASS   95.0   18           Hispanic   Maths   M  584
584                WENDY STILL   91.0   18  European American   Maths   F  585
585                WHITNEY YEE   53.0   20     White American   Maths   M  586
586          WILLIAM MCFARLAND   85.0   19     White American   Maths   M  587
587          WILLIAM MCFARLAND   45.0   18           Hispanic   Maths   M  588
588            WILLIAM MULKEEN   88.0   19  European American   Maths   M  589
589              WILLIAM RADER   82.0   20           Hispanic   Maths   F  590
590           WILLIAM ROUALDES   65.0   19     White American   Maths   M  591
591              WILLIAM SCOTT   88.0   19           Hispanic   Maths   M  592
592         WILLIAM SIFFERMANN   91.0   20           Hispanic   Maths   M  593
593                  WING CHAN   88.0   19  European American   Maths   M  594
594                    WING NG   45.0   19     White American   Maths   F  595
595                YIFANG QIAN   75.0   18     White American   Maths   M  596
596           ZACHARY PUMPHREY   53.0   20     White American   Maths   M  597
597  ZEBA IMAN NAZEERI-SIMMONS   75.0   20           Hispanic   Maths   M  598
598            ZHI JIAR ZHUANG   88.0   19           Hispanic   Maths   M  599

[599 rows x 7 columns]

,Name,Score,Age,Ethinicity,Subject,Sex,ID
0,AI-KYUNG CHUNG,84.0,18,White American,Physics,M,1
1,ALAN HARVEY,81.0,19,European American,Physics,M,2
2,ALAN REYNAUD,41.0,19,European American,Physics,M,3
3,ALBERT CENDANA,78.0,18,White American,Physics,M,4
4,ALBERT HOLT JR,78.0,18,White American,Physics,F,5
5,ALBERT PARDINI,91.0,20,White American,Physics,M,6
6,ALBERT YU,91.0,18,White American,Physics,M,7
7,ALBERTO PEDRUCO,61.0,19,White American,Physics,M,8
8,ALEC BALMY,84.0,18,Hispanic,Physics,M,9
9,ALEETA VAN RUNKLE,84.0,19,Hispanic,Physics,F,10
10,ALEX TSE,49.0,20,White American,Physics,M,11
11,ALEXANDER CHEN,49.0,20,White American,Physics,M,12
12,ALEXANDER KWAN,62.0,19,White American,Physics,M,13
13,ALEXIS GOLDNER,84.0,18,White American,Physics,M,14
14,ALLEN TURPIN,84.0,21,White American,Physics,F,15
15,ALSON LEE,78.0,20,White American,Physics,M,16
16,ALVIN LAU,NaN,18,White American,Physics,M,17
17,AMEN CHOW,91.0,18,European American,Physics,M,18
18,AMPARO RODRIGUEZ,87.0,18,Hispanic,Physics,M,19
19,AMY BROWN,62.0,18,White American,Physics,F,20
20,AMY HART,78.0,18,Hispanic,Physics,M,21
21,ANA SAMPERA,62.0,18,European American,Physics,M,22
22,ANDRE ANDREWS SR,71.0,18,White American,Physics,M,23
23,ANDRE WILLIAMS,61.0,19,Hispanic,Physics,M,24
24,ANDREW LOGAN,87.0,20,European American,Physics,F,25
25,ANDREW SAITZ,87.0,18,White American,Physics,M,26
26,ANDY ZANOFF,49.0,20,Hispanic,Physics,M,27
27,ANGELA PLATZER,87.0,20,European American,Physics,M,28
28,ANN MANNIX,84.0,21,Hispanic,Physics,M,29
29,ANNA BROWN,81.0,19,White American,Physics,F,30
...,...,...,...,...,...,...,...
569,TRYG MCCOY,61.0,19,Hispanic,Physics,F,570
570,TUAMELIE MOALA,41.0,19,European American,Physics,M,571
571,TYRONE PRUITT,78.0,20,Hispanic,Physics,M,572
572,TYRONNE JULIAN,49.0,18,European American,Physics,M,573
573,VALERIE AGARD,81.0,18,European American,Physics,M,574
574,VALERIE INOUYE,71.0,20,European American,Physics,F,575
575,VAN LY,81.0,21,White American,Physics,M,576
576,VENUS AZAR,71.0,18,White American,Physics,M,577
577,VERNONICA JONES,81.0,19,White American,Physics,M,578
578,VICKI CLAYTON,78.0,18,White American,Physics,M,579
579,VICTOR WYRSCH,61.0,21,White American,Physics,F,580
580,VINCENT DAVIS,91.0,18,African American,Physics,M,581
581,VINCENT PAMPANIN,87.0,20,White American,Physics,M,582
582,VIVIAN DAY,41.0,21,Hispanic,Physics,M,583
583,WAYNE SNODGRASS,91.0,18,Hispanic,Physics,M,584
584,WENDY STILL,87.0,18,European American,Physics,F,585
585,WHITNEY YEE,49.0,20,White American,Physics,M,586
586,WILLIAM MCFARLAND,81.0,19,White American,Physics,M,587
587,WILLIAM MCFARLAND,41.0,18,Hispanic,Physics,M,588
588,WILLIAM MULKEEN,84.0,19,European American,Physics,M,589
589,WILLIAM RADER,78.0,20,Hispanic,Physics,F,590
590,WILLIAM ROUALDES,61.0,19,White American,Physics,M,591
591,WILLIAM SCOTT,84.0,19,Hispanic,Physics,M,592
592,WILLIAM SIFFERMANN,87.0,20,Hispanic,Physics,M,593
593,WING CHAN,84.0,19,European American,Physics,M,594
594,WING NG,41.0,19,White American,Physics,F,595
595,YIFANG QIAN,71.0,18,White American,Physics,M,596
596,ZACHARY PUMPHREY,49.0,20,White American,Physics,M,597
597,ZEBA IMAN NAZEERI-SIMMONS,71.0,20,Hispanic,Physics,M,598
598,ZHI JIAR ZHUANG,69.0,19,Hispanic,Physics,M,599

In [10]:
df_ds = df_ds.drop(['Name','Ethinicity'], axis=1)
df_math = df_math.drop(['Name','Ethinicity'], axis=1)
df_phys = df_phys.drop(['Name','Ethinicity'],axis=1)

In [13]:
df_ds['Score'] = df_ds['Score'].fillna(0)
df_math['Score'] = df_math['Score'].fillna(0)
df_phys['Score'] = df_phys['Score'].fillna(0)

In [14]:
df_merge = pd.concat([df_ds,df_math,df_phys])

In [15]:
display(df_merge)

     Score  Age        Subject Sex   ID
0     82.0   18  Data Structue   M    1
1     79.0   19  Data Structue   M    2
2     39.0   19  Data Structue   M    3
3     76.0   18  Data Structue   M    4
4     76.0   18  Data Structue   F    5
5     89.0   20  Data Structue   M    6
6     89.0   18  Data Structue   M    7
7     59.0   19  Data Structue   M    8
8     82.0   18  Data Structue   M    9
9     82.0   19  Data Structue   F   10
10    47.0   20  Data Structue   M   11
11    47.0   20  Data Structue   M   12
12    60.0   19  Data Structue   M   13
13    82.0   18  Data Structue   M   14
14    82.0   21  Data Structue   F   15
15    76.0   20  Data Structue   M   16
16    25.0   18  Data Structue   M   17
17    89.0   18  Data Structue   M   18
18    85.0   18  Data Structue   M   19
19    60.0   18  Data Structue   F   20
20    76.0   18  Data Structue   M   21
21    60.0   18  Data Structue   M   22
22    69.0   18  Data Structue   M   23
23    59.0   19  Data Structue   M   24
24    85.0   20  Data Structue   F   25
25    85.0   18  Data Structue   M   26
26    47.0   20  Data Structue   M   27
27    85.0   20  Data Structue   M   28
28    82.0   21  Data Structue   M   29
29    79.0   19  Data Structue   F   30
..     ...  ...            ...  ..  ...
569   61.0   19        Physics   F  570
570   41.0   19        Physics   M  571
571   78.0   20        Physics   M  572
572   49.0   18        Physics   M  573
573   81.0   18        Physics   M  574
574   71.0   20        Physics   F  575
575   81.0   21        Physics   M  576
576   71.0   18        Physics   M  577
577   81.0   19        Physics   M  578
578   78.0   18        Physics   M  579
579   61.0   21        Physics   F  580
580   91.0   18        Physics   M  581
581   87.0   20        Physics   M  582
582   41.0   21        Physics   M  583
583   91.0   18        Physics   M  584
584   87.0   18        Physics   F  585
585   49.0   20        Physics   M  586
586   81.0   19        Physics   M  587
587   41.0   18        Physics   M  588
588   84.0   19        Physics   M  589
589   78.0   20        Physics   F  590
590   61.0   19        Physics   M  591
591   84.0   19        Physics   M  592
592   87.0   20        Physics   M  593
593   84.0   19        Physics   M  594
594   41.0   19        Physics   F  595
595   71.0   18        Physics   M  596
596   49.0   20        Physics   M  597
597   71.0   20        Physics   M  598
598   69.0   19        Physics   M  599

[1797 rows x 5 columns]

In [19]:
df_merge['Sex'] = df_merge['Sex'].str.replace('M','1')
df_merge['Sex'] = df_merge['Sex'].str.replace('F','2')

In [22]:
display(df_merge)
df_merge.to_csv('ScoreFinalNew.csv', index=False)

     Score  Age        Subject Sex   ID
0     82.0   18  Data Structue   1    1
1     79.0   19  Data Structue   1    2
2     39.0   19  Data Structue   1    3
3     76.0   18  Data Structue   1    4
4     76.0   18  Data Structue   2    5
5     89.0   20  Data Structue   1    6
6     89.0   18  Data Structue   1    7
7     59.0   19  Data Structue   1    8
8     82.0   18  Data Structue   1    9
9     82.0   19  Data Structue   2   10
10    47.0   20  Data Structue   1   11
11    47.0   20  Data Structue   1   12
12    60.0   19  Data Structue   1   13
13    82.0   18  Data Structue   1   14
14    82.0   21  Data Structue   2   15
15    76.0   20  Data Structue   1   16
16    25.0   18  Data Structue   1   17
17    89.0   18  Data Structue   1   18
18    85.0   18  Data Structue   1   19
19    60.0   18  Data Structue   2   20
20    76.0   18  Data Structue   1   21
21    60.0   18  Data Structue   1   22
22    69.0   18  Data Structue   1   23
23    59.0   19  Data Structue   1   24
24    85.0   20  Data Structue   2   25
25    85.0   18  Data Structue   1   26
26    47.0   20  Data Structue   1   27
27    85.0   20  Data Structue   1   28
28    82.0   21  Data Structue   1   29
29    79.0   19  Data Structue   2   30
..     ...  ...            ...  ..  ...
569   61.0   19        Physics   2  570
570   41.0   19        Physics   1  571
571   78.0   20        Physics   1  572
572   49.0   18        Physics   1  573
573   81.0   18        Physics   1  574
574   71.0   20        Physics   2  575
575   81.0   21        Physics   1  576
576   71.0   18        Physics   1  577
577   81.0   19        Physics   1  578
578   78.0   18        Physics   1  579
579   61.0   21        Physics   2  580
580   91.0   18        Physics   1  581
581   87.0   20        Physics   1  582
582   41.0   21        Physics   1  583
583   91.0   18        Physics   1  584
584   87.0   18        Physics   2  585
585   49.0   20        Physics   1  586
586   81.0   19        Physics   1  587
587   41.0   18        Physics   1  588
588   84.0   19        Physics   1  589
589   78.0   20        Physics   2  590
590   61.0   19        Physics   1  591
591   84.0   19        Physics   1  592
592   87.0   20        Physics   1  593
593   84.0   19        Physics   1  594
594   41.0   19        Physics   2  595
595   71.0   18        Physics   1  596
596   49.0   20        Physics   1  597
597   71.0   20        Physics   1  598
598   69.0   19        Physics   1  599

[1797 rows x 5 columns]