# Qn 1

In [1]:
def calculate_distance(p_direction, p_steps):
    x, y = 0, 0
    p_steps = int(p_steps)
    
    if p_direction == 'UP':
        y = y + p_steps
    elif p_direction == 'DOWN':
        y = y - p_steps
    elif p_direction == 'RIGHT':
        x = x + p_steps
    elif p_direction == 'LEFT':
        x = x - p_steps
    else:
        print('Invalid Entry')
    return x, y

import math

while True:
    step = input("Type the direction - UP / DOWN / RIGHT / LEFT and step number: ")
    
    if step == "":
        break
    else:
        step = step.split(" ")
        x,y = calculate_distance(step[0], step[1])

distance = math.sqrt(x**2 + y**2)
print("Distance = ", distance)

Type the direction - UP / DOWN / RIGHT / LEFT and step number: UP 5
Type the direction - UP / DOWN / RIGHT / LEFT and step number: DOWN 2
Type the direction - UP / DOWN / RIGHT / LEFT and step number: LEFT 3
Type the direction - UP / DOWN / RIGHT / LEFT and step number: RIGHT 5
Type the direction - UP / DOWN / RIGHT / LEFT and step number:
Distance =  5.0

# Qn 2

In [2]:
def search_sorted_list(lst, target):
    lst.sort()
    left, right = 0, len(lst)-1
    while left <= right:
        mid = left + (right - left) // 2
        if lst[mid] == target:
            return mid
        elif lst[mid] < target:
            left = mid + 1
        else: 
            right = mid - 1
    return -1

op1 = search_sorted_list([1,2,3,4,5,6], 7)
print(op1)
op1 = search_sorted_list([1,2,3,4,5,6], 6)
print(op1)
op1 = search_sorted_list([1,2,3,4,5,6], 4)
print(op1)

-1
5
3

# Qn 3

In [3]:
from datetime import datetime as dt, time

def weather_forecast():
    date_time_value = dt.now()
    time_value = date_time_value.time()
    print(time_value)
    
    if time_value >= time(20,0) or time_value <= time(7,0):
        return "night"
    else:
        return "day"

print(weather_forecast())

21:25:04.685678
night

# Qn 4

In [4]:
from math import sin, cos, sqrt, atan2, radians

R = 6373.0

lat1 = radians(52.2296756)
lon1 = radians(21.0122287)
lat2 = radians(52.4063754)
lon2 = radians(16.9251697)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
c = 2 * atan2(sqrt(a), sqrt(1-a))

distance = R * c

print("Result: ", distance)

Result:  278.545487470481

# Qn 5

In [11]:
def bank_system(p_action, p_balance, p_amount):
    if p_action == 'WITHDRAW':
        p_balance = p_balance - p_amount
        ret_val = p_balance
    elif p_action == 'DEPOSIT':
        p_balance = p_balance + p_amount
        ret_val = p_balance
    elif p_action == 'Ã‡HANGE PASSWORD':
        pwd = input("Enter the password: ")
        ret_val = pwd
    return ret_val
    
while True:
    step = input("Type action and enter amount : ")
    balance = 0
    if step == "":
        break
    else:
        step= step.split(" ")
        op = bank_system(step[0], int(balance), int(step[1]))

print("Output :" + str(op))

Type action and enter amount : DEPOSIT 100
Type action and enter amount : WITHDRAW 150
Type action and enter amount :
Output :-150

# Qn 6

In [13]:
print([i for i in range(2000,3201) if i%7 == 0 and i%5 != 0])

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# Qn 7

In [14]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n * recur_factorial(n-1)

num = int(input("Enter a number (>=1) : "))

if num < 0:
    print("Sorry, factorial is not valid for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of ", num, " is ", recur_factorial(num))

Enter a number (>=1) : 5
The factorial of  5  is  120

# Qn 8

In [15]:
import math
c = 50
h = 30

def calculate(p_num):
    return round(math.sqrt((2*c*p_num)/h))

inp_list = [100,150,180]

op_list = [calculate(element) for element in inp_list]
print(op_list)

[18, 22, 24]

# Qn 9

In [16]:
x = int(input("Enter the first value: "))
y = int(input("Enter the second value: "))

arr1 = [i for i in range(x)]
arr2 = [j for j in range(y)]

print(arr1)
print(arr2)
final_list = []

for i in arr1:
    final_list.append([i*j for j in arr2])

print(final_list)

Enter the first value: 3
Enter the second value: 5
[0, 1, 2]
[0, 1, 2, 3, 4]
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

# Qn 10

In [17]:
x = input("Enter the list of words : ")
print(sorted(list(x.split(","))))

Enter the list of words : without,hello,bag,world
['bag', 'hello', 'without', 'world']

# Qn 11

In [18]:
x = input("Enter the list of words : ")
print(x.upper())

Enter the list of words : hello world
HELLO WORLD

# Qn 12

In [19]:
x = input("Enter the list of words : ")
print(set(list(x.split(" "))))
st = ' '.join(sorted(set(sorted(list(x.split(" "))))))
print(st)

Enter the list of words : hello world and practice makes perfect and hello again
{'practice', 'makes', 'hello', 'and', 'world', 'perfect', 'again'}
again and hello makes perfect practice world

# Qn 13

In [20]:
binary_string = input("Enter the list of binary values: ")
binary_list = list(binary_string.split(","))
decimal_list = [int(binary,2) for binary in binary_list if int(binary,2)%5 == 0]
print(decimal_list)
print([format(decimal_value,"b") for decimal_value in decimal_list])

Enter the list of binary values: 0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
[0, 5, 10, 15]
['0', '101', '1010', '1111']

# Qn 14

In [21]:
input_str = input("Enter the string : ")
input_list = list(input_str)
upper  = len([i.isupper() for i in input_list if i.isupper()])
lower  = len([i.islower() for i in input_list if i.islower()])
print("Upper case ", upper)
print("Lower case ", lower)

Enter the string : Hello World!
Upper case  2
Lower case  8

# Qn 15

In [22]:
import math
values = [1,1e-20,-1]
print(sum(values))
print(math.fsum(values))

0.0
1e-20