In [15]:
from IPython.display import display
import pandas as pd

df = pd.read_csv(r"C:\Users\Rajesh\Edureka\02_Data_Science_With_Python\1937_m3_datasets_v1_jp0_zpnuw9a\FairDealCustomerData.csv", 
                 header = None,
                 names = ['last_name', 'title_first_middle_name', 'gender']
                )
display(df)
df['title'] = df['title_first_middle_name'].str.split(pat = ' ', expand = True)[1]
df['first_name'] = df['title_first_middle_name'].str.split(pat = ' ', expand = True)[2]
df['middle_name'] = df['title_first_middle_name'].str.split(pat = ' ', expand = True)[3]
display(df)

            last_name       title_first_middle_name  gender
0              Braund              Mr. Owen Harris        1
1           Heikkinen                  Miss. Laina        0
2               Allen            Mr. William Henry        0
3               Moran                    Mr. James        0
4            McCarthy                Mr. Timothy J        0
5             Bonnell              Miss. Elizabeth        0
6           Andersson             Mr. Anders Johan        0
7            Williams           Mr. Charles Eugene        1
8          Masselmani                  Mrs. Fatima        0
9              Fynney                 Mr. Joseph J        0
10            Beesley                 Mr. Lawrence        0
11             Sloper         Mr. William Thompson        0
12               Emir            Mr. Farred Chehab        0
13           Todoroff                    Mr. Lalio        0
14          Uruchurtu                Don. Manuel E        1
15              Glynn            Miss. Mary Agatha        0
16            Wheadon                 Mr. Edward H        0
17              Meyer             Mr. Edgar Joseph        0
18          Holverson          Mr. Alexander Oskar        0
19              Mamee                    Mr. Hanna        0
20             Kraeff                  Mr. Theodor        0
21             Rogers             Mr. William John        1
22             Lennon                    Mr. Denis        0
23             Samaan                  Mr. Youssef        0
24              Ostby      Mr. Engelhart Cornelius        0
25            Woolner                     Mr. Hugh        0
26              Novel                 Mr. Mansouer        0
27         Sirayanian                    Mr. Orsen        0
28              Icard                 Miss. Amelie        1
29             Harris          Mr. Henry Birkhardt        0
..                ...                           ...     ...
502        Augustsson                   Mr. Albert        0
503           Compton           Miss. Sara Rebecca        0
504            Sirota                  Mr. Maurice        1
505              Chip                    Mr. Chang        0
506          Marechal                   Mr. Pierre        0
507          Serepeca                Miss. Augusta        0
508     Lemberopolous                  Mr. Peter L        0
509            Abbing                  Mr. Anthony        0
510              Sage           Mr. Douglas Bullen        0
511           Markoff                    Mr. Marin        1
512            Harper                    Rev. John        0
513          Svensson                    Mr. Johan        0
514              Daly             Mr. Peter Denis         0
515              Razi                   Mr. Raihed        0
516            Hansen              Mr. Claus Peter        0
517              Gill             Mr. John William        0
518      Duran y More               Miss. Asuncion        1
519          Roebling   Mr. Washington Augustus II        0
520     van Melkebeke                 Mr. Philemon        0
521            Balkic                    Mr. Cerin        0
522          Carlsson               Mr. Frans Olof        0
523   Vander Cruyssen                   Mr. Victor        0
524            Laleff                   Mr. Kristo        0
525            Markun                   Mr. Johann        1
526          Dahlberg           Miss. Gerda Ulrika        0
527          Banfield          Mr. Frederick James        0
528          Sutehall                 Mr. Henry Jr        0
529          Montvila                  Rev. Juozas        0
530              Behr              Mr. Karl Howell        0
531            Dooley                  Mr. Patrick        0

[532 rows x 3 columns]

,last_name,title_first_middle_name,gender,title,first_name,middle_name
0,Braund,Mr. Owen Harris,1,Mr.,Owen,Harris
1,Heikkinen,Miss. Laina,0,Miss.,Laina,
2,Allen,Mr. William Henry,0,Mr.,William,Henry
3,Moran,Mr. James,0,Mr.,James,
4,McCarthy,Mr. Timothy J,0,Mr.,Timothy,J
5,Bonnell,Miss. Elizabeth,0,Miss.,Elizabeth,
6,Andersson,Mr. Anders Johan,0,Mr.,Anders,Johan
7,Williams,Mr. Charles Eugene,1,Mr.,Charles,Eugene
8,Masselmani,Mrs. Fatima,0,Mrs.,Fatima,
9,Fynney,Mr. Joseph J,0,Mr.,Joseph,J
10,Beesley,Mr. Lawrence,0,Mr.,Lawrence,
11,Sloper,Mr. William Thompson,0,Mr.,William,Thompson
12,Emir,Mr. Farred Chehab,0,Mr.,Farred,Chehab
13,Todoroff,Mr. Lalio,0,Mr.,Lalio,
14,Uruchurtu,Don. Manuel E,1,Don.,Manuel,E
15,Glynn,Miss. Mary Agatha,0,Miss.,Mary,Agatha
16,Wheadon,Mr. Edward H,0,Mr.,Edward,H
17,Meyer,Mr. Edgar Joseph,0,Mr.,Edgar,Joseph
18,Holverson,Mr. Alexander Oskar,0,Mr.,Alexander,Oskar
19,Mamee,Mr. Hanna,0,Mr.,Hanna,
20,Kraeff,Mr. Theodor,0,Mr.,Theodor,
21,Rogers,Mr. William John,1,Mr.,William,John
22,Lennon,Mr. Denis,0,Mr.,Denis,
23,Samaan,Mr. Youssef,0,Mr.,Youssef,
24,Ostby,Mr. Engelhart Cornelius,0,Mr.,Engelhart,Cornelius
25,Woolner,Mr. Hugh,0,Mr.,Hugh,
26,Novel,Mr. Mansouer,0,Mr.,Mansouer,
27,Sirayanian,Mr. Orsen,0,Mr.,Orsen,
28,Icard,Miss. Amelie,1,Miss.,Amelie,
29,Harris,Mr. Henry Birkhardt,0,Mr.,Henry,Birkhardt
...,...,...,...,...,...,...
502,Augustsson,Mr. Albert,0,Mr.,Albert,
503,Compton,Miss. Sara Rebecca,0,Miss.,Sara,Rebecca
504,Sirota,Mr. Maurice,1,Mr.,Maurice,
505,Chip,Mr. Chang,0,Mr.,Chang,
506,Marechal,Mr. Pierre,0,Mr.,Pierre,
507,Serepeca,Miss. Augusta,0,Miss.,Augusta,
508,Lemberopolous,Mr. Peter L,0,Mr.,Peter,L
509,Abbing,Mr. Anthony,0,Mr.,Anthony,
510,Sage,Mr. Douglas Bullen,0,Mr.,Douglas,Bullen
511,Markoff,Mr. Marin,1,Mr.,Marin,
512,Harper,Rev. John,0,Rev.,John,
513,Svensson,Mr. Johan,0,Mr.,Johan,
514,Daly,Mr. Peter Denis,0,Mr.,Peter,Denis
515,Razi,Mr. Raihed,0,Mr.,Raihed,
516,Hansen,Mr. Claus Peter,0,Mr.,Claus,Peter
517,Gill,Mr. John William,0,Mr.,John,William
518,Duran y More,Miss. Asuncion,1,Miss.,Asuncion,
519,Roebling,Mr. Washington Augustus II,0,Mr.,Washington,Augustus
520,van Melkebeke,Mr. Philemon,0,Mr.,Philemon,
521,Balkic,Mr. Cerin,0,Mr.,Cerin,
522,Carlsson,Mr. Frans Olof,0,Mr.,Frans,Olof
523,Vander Cruyssen,Mr. Victor,0,Mr.,Victor,
524,Laleff,Mr. Kristo,0,Mr.,Kristo,
525,Markun,Mr. Johann,1,Mr.,Johann,
526,Dahlberg,Miss. Gerda Ulrika,0,Miss.,Gerda,Ulrika
527,Banfield,Mr. Frederick James,0,Mr.,Frederick,James
528,Sutehall,Mr. Henry Jr,0,Mr.,Henry,Jr
529,Montvila,Rev. Juozas,0,Rev.,Juozas,
530,Behr,Mr. Karl Howell,0,Mr.,Karl,Howell
531,Dooley,Mr. Patrick,0,Mr.,Patrick,

In [18]:
class Customer:
    title = ""
    fname = ""
    lname = ""
    isblacklisted = 0;

    def __init__(self):
        self.title = ""

    def __str__(self):
        return "Title:" + self.title + " First Name:" + self.fname + " Last Name:" + self.lname + " Blacklisted:" + self.isblacklisted

    def setIsblacklisted(self,isblacklisted):
        self.isblacklisted = isblacklisted

    def isblacklisted(self):
        return self.isblacklisted

    def setTitle(self,title):
        self.title = title

    def getTitle(self):
        return self.title

    def setFname(self,fname):
        self.fname = fname

    def getFname(self):
        return self.fname

    def setLname(self,lname):
        self.lname = lname

    def getLname(self):
        return self.lname



# customer1 = Customer()
# customer1.setTitle("Mr.")
# customer1.setFname("Barack")
# customer1.setLname("Obama")
#
# customer2 = Customer()
# customer2.setTitle("Mrs.")
# customer2.setFname("George")
# customer2.setLname("Bush")
#
# print("First Customer Title %s" , customer1.getTitle())
# print("Second Customer Title %s" , customer2.getTitle())
# print("First Customer Title %s" , customer1.getTitle())

In [23]:
import re

In [24]:
# define exception for BlackListed Customer

class CustomerNotAllowed(Exception):
    def __init__(self, value):
        self.value = value
    
    def __str__(self):
        return repr(self.value)
    
## End of Exception

In [31]:
def createCustomerObject(custdata):
    customer = Customer()
    match = re.search('([A-Za-z]+)\.', custdata) # Usage of regular Expression
    title = ""
    if( match is not None):
        title = match.group(0)
        customer.setTitle(title.strip())
    data = (custdata.replace(title,'')).split(',',2) # Removed the title from name
    customer.setLname(data[0].strip())
    customer.setFname(data[1].strip())
    customer.setIsblacklisted(data[2])
    return customer

# function to create order if user is not blacklisted else throw exception
def createOrder(customer,productname):
    if customer.isblacklisted == "1":
        #print("Raising Customer Exception")
        raise CustomerNotAllowed("Customer is Black Listed:" + customer.__str__())
    else:
        print(" Order created successfully for:" + customer.__str__())
### End of Function ########################

### Start of the  flow ############# 
### Read the file

customer_file = open(r"C:\Users\Rajesh\Edureka\02_Data_Science_With_Python\1937_m3_datasets_v1_jp0_zpnuw9a\FairDealCustomerData.csv",'r')
customerlist = [] # list defined to store Customer Objects

for data in customer_file:
    customerlist.append(createCustomerObject(data.rstrip('\n')))
customer_file.close()

print ("No . of customers read from file:",len(customerlist))

# Create order for first two customers , 1st One is black listed

for i in range(0,2):
    try:
        createOrder(customerlist[i]," LEDTV")
    except CustomerNotAllowed as cne:
        print(" Exception Customer NotAllowed handled message", cne)
    # finally:

print ("End of Program")

No . of customers read from file: 532
 Exception Customer NotAllowed handled message 'Customer is Black Listed:Title:Mr. First Name:Owen Harris Last Name:Braund Blacklisted:1'
 Order created successfully for:Title:Miss. First Name:Laina Last Name:Heikkinen Blacklisted:0
End of Program